<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Basics</title>
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="styles.css" />
    <script src="https://unpkg.com/vue@next" defer></script>
    <script src="app.js" defer></script>
  </head>
  <body>
    <header>
      <h2 class="topTitle">Monster Slayer Game</h2>
    </header>
    <div id="game">
      <div v-show="detailsSaved === false">
        <section id="setup" class="container">
          <form @submit.prevent="submitDetails">
            <!-- ---------- Monster's Details ----------- -->
            <fieldset>
              <legend>Monster's Details</legend>
              <div>
                <label for="monsterName">Monster Name : </label>
                <input type="text" id="monsterName" name="monsterName" required @keyup="checkNamesConflict" onKeyPress="return isString(event);" v-model.trim="monster.name" />
                <span class="validity"></span>
              </div>
              <br />
              <div>
                <label for="monsterHealth">Health Points (1 - 100): </label>
                <input type="number" id="monsterHealth" name="monsterHealth" required min="1" max="100" onKeyPress="return isNumber(event);" v-model.number="monster.health" />
                <span class="validity"></span>
              </div>
              <br />
              <div>
                <label for="monsterSpeed">Speed (1 - 10): </label>
                <input type="number" id="monsterSpeed" name="monsterSpeed" required min="1" max="10" onKeyPress="return isNumber(event);" v-model.number.lazy="monster.speed" />
                <span class="validity"></span>
              </div>
              <br />
              <div>
                <label for="monsterAttack">Attack Power (25 - 50): </label>
                <input type="number" id="monsterAttack" name="monsterAttack" required min="25" max="50" onKeyPress="return isNumber(event);" v-model.number="monster.attack" />
                <span class="validity"></span>
              </div>
              <br />
              <div>
                <label for="monsterWeaponDamageMin">Min Damage (1 - 6): </label>
                <input type="number" id="monsterWeaponDamageMin" name="monsterWeaponDamageMin" required min="1" max="6" onKeyPress="return isNumber(event);" v-model.number="monster.damageMin" />
                <span class="validity"></span>
              </div>
              <br />
              <div>
                <label for="monsterWeaponDamageMax">Max Damage (7 - 15): </label>
                <input type="number" id="monsterWeaponDamageMax" name="monsterWeaponDamageMax" required min="7" max="15" onKeyPress="return isNumber(event);" v-model.number="monster.damageMax" />
                <span class="validity"></span>
              </div>
              <br />
              <div>
                <label for="monsterDefense">Defense (1 - 50): </label>
                <input type="number" id="monsterDefense" name="monsterDefense" required min="1" max="50" onKeyPress="return isNumber(event);" v-model.number="monster.defense" />
                <span class="validity"></span>
              </div>
              <br />
              <div>
                <label for="monsterMagic">Use Magic: </label>
                <input type="checkbox" id="monsterMagic" name="monsterMagic" v-model.number="monster.hasMagic" @change="clearSpells('monster')" />
              </div>
              <br />
              <div v-show="monster.hasMagic === true">
                <label for="monsterMana">Mana Points (1 - 100): </label>
                <input type="number" id="monsterMana" name="monsterMana" :required="monster.hasMagic === true" min="1" max="100" onKeyPress="return isNumber(event);" v-model.number="monster.magic.mana" />
                <span class="validity"></span>
                <br />
              </div>
              <div v-show="monster.hasMagic === true">
                <label for="monsterFireMagic"
                  ><span class="questionMarks"><img src="img/question-mark-in-a-circle.png" /></span>
                  Fireball:
                </label>
                <input type="checkbox" id="monsterFireMagic" name="monsterSpell" :checked="monster.magic.fireBallMagic" v-model="monster.magic.fireBallMagic" />
                <br />
              </div>
              <div v-show="monster.hasMagic === true">
                <label for="monsterLightningMagic"
                  ><span class="questionMarks"><img src="img/question-mark-in-a-circle.png" /></span>
                  Lightning Bolt:
                </label>
                <input type="checkbox" id="monsterLightningMagic" name="monsterSpell" :checked="monster.magic.lightningBoltMagic" v-model="monster.magic.lightningBoltMagic" />
                <br />
              </div>
              <div v-show="monster.hasMagic === true">
                <label for="monsterHealingMagic"
                  ><span class="questionMarks"><img src="img/question-mark-in-a-circle.png" /></span>
                  Healing:
                </label>
                <input type="checkbox" id="monsterHealingMagic" name="monsterSpell" :checked="monster.magic.healingMagic" v-model="monster.magic.healingMagic" />
                <br />
              </div>
              <p class="errors" v-if="errors.spellMissingMonster === true">Select at least one spell!</p>
              <div v-if="errors.monsterErrorMessage !== ''" class="errorsContainer">
                <p class="errors" id="monsterErrors">{{errors.monsterErrorMessage}}</p>
              </div>
            </fieldset>
            <!-- ---------------- Player's Details ----------------- -->
            <fieldset>
              <legend>Player's Details</legend>
              <div>
                <label for="playerName">Player Name : </label>
                <input type="text" id="playerName" name="playerName" required @keyup="checkNamesConflict" onKeyPress="return isString(event);" v-model.trim="player.name" />
                <span class="validity"></span>
              </div>
              <br />
              <div>
                <label for="playerHealth">Health Points (1 - 100): </label>
                <input type="number" id="playerHealth" name="playerHealth" required min="1" max="100" onKeyPress="return isNumber(event);" v-model.number="player.health" />
                <span class="validity"></span>
              </div>
              <br />
              <div>
                <label for="playerSpeed">Speed (1 - 10): </label>
                <input type="number" id="playerSpeed" name="playerSpeed" required min="1" max="10" onKeyPress="return isNumber(event);" v-model.number.lazy="player.speed" />
                <span class="validity"></span>
              </div>
              <br />
              <div>
                <label for="playerAttack">Attack Power (25 - 50): </label>
                <input type="number" id="playerAttack" name="playerAttack" required min="25" max="50" onKeyPress="return isNumber(event);" v-model.number="player.attack" />
                <span class="validity"></span>
              </div>
              <br />
              <div>
                <label for="playerWeaponDamageMin">Min Damage (1 - 6): </label>
                <input type="number" id="playerWeaponDamageMin" name="playerWeaponDamageMin" required min="1" max="6" onKeyPress="return isNumber(event);" v-model.number="player.damageMin" />
                <span class="validity"></span>
              </div>
              <br />
              <div>
                <label for="playerWeaponDamageMax">Max Damage (7 - 15): </label>
                <input type="number" id="playerWeaponDamageMax" name="playerWeaponDamageMax" required min="7" max="15" onKeyPress="return isNumber(event);" v-model.number="player.damageMax" />
                <span class="validity"></span>
              </div>
              <br />
              <div>
                <label for="playerDefense">Defense (1 - 50): </label>
                <input type="number" id="playerDefense" name="playerDefense" required min="1" max="50" onKeyPress="return isNumber(event);" v-model.number="player.defense" />
                <span class="validity"></span>
              </div>
              <br />
              <div>
                <label for="playerMagic">Use Magic: </label>
                <input type="checkbox" id="playerMagic" name="playerMagic" v-model.number="player.hasMagic" @change="clearSpells('player')" />
              </div>
              <br />
              <div v-show="player.hasMagic === true">
                <label for="playerMana">Mana Points (1 - 100): </label>
                <input type="number" id="playerMana" name="playerMana" :required="player.hasMagic === true" min="1" max="100" onKeyPress="return isNumber(event);" v-model.number="player.magic.mana" />
                <span class="validity"></span>
                <br />
              </div>
              <div v-show="player.hasMagic === true">
                <label for="playerFireMagic"
                  ><span class="questionMarks"><img src="img/question-mark-in-a-circle.png" /></span>
                  Fireball:
                </label>
                <input type="checkbox" id="playerFireMagic" name="playerSpell" :checked="player.magic.fireBallMagic" v-model="player.magic.fireBallMagic" />
                <br />
              </div>
              <div v-show="player.hasMagic === true">
                <label for="playerLightningMagic"
                  ><span class="questionMarks"><img src="img/question-mark-in-a-circle.png" /></span>
                  Lightning Bolt:
                </label>
                <input type="checkbox" id="playerLightningMagic" name="playerSpell" :checked="player.magic.lightningBoltMagic" v-model="player.magic.lightningBoltMagic" />
                <br />
              </div>
              <div v-show="player.hasMagic === true">
                <label for="playerHealingMagic"
                  ><span class="questionMarks"><img src="img/question-mark-in-a-circle.png" /></span>
                  Healing:
                </label>
                <input type="checkbox" id="playerHealingMagic" name="playerSpell" :checked="player.magic.healingMagic" v-model="player.magic.healingMagic" />
                <br />
              </div>
              <p class="errors" v-if="errors.spellMissingPlayer === true">Select at least one spell!</p>
              <div v-if="errors.playerErrorMessage !== ''" class="errorsContainer">
                <p class="errors" id="playerErrors">{{errors.playerErrorMessage}}</p>
              </div>
            </fieldset>
            <p class="errors" v-if="errors.sameName === true">Names cannot be the same!</p>
            <button type="button" @click="saveDetails">Save</button>
            <button type="button" :disabled="!savedDetailsEarlier" @click="loadDetails">Load</button>
            <button type="button">Reset</button>
            <button type="submit">Submit</button>
          </form>
        </section>
      </div>
      <div v-show="detailsSaved === true">
        <section id="monster" class="container">
          <h2>{{monster.name}} <span class="mOrp">(Monster)</span></h2>
          <h4>Health ( {{monster.health}} / 100 )</h4>
          <div class="healthBar">
            <div class="healthBar__value" :style="{width: monsterCurrentHealth}"></div>
          </div>
          <h4>Mana ( {{monster.magic.mana}} / 100 )</h4>
          <div class="manaBar">
            <div class="manaBar__value" :style="{width: monsterCurrentMana}"></div>
          </div>
        </section>
        <section id="player" class="container">
          <h2>{{player.name}} <span class="mOrp">(Player)</span></h2>
          <h4>Health ( {{player.health}} / 100 )</h4>
          <div class="healthBar">
            <div class="healthBar__value" :style="{width: playerCurrentHealth}"></div>
          </div>
          <h4>Mana ( {{player.magic.mana}} / 100 )</h4>
          <div class="manaBar">
            <div class="manaBar__value" :style="{width: playerCurrentMana}"></div>
          </div>
        </section>
        <section class="container">
          <h2 id="roundCounter">ROUND {{roundCounter}}</h2>
          <!-- Dice(s) -->
          <section id="dices">
            <div v-for="i in visibleDices" :key="i" class="dice">
              <ol :id="'die_' + i.number" class="die-list" :class="[ {'even-roll': classNames.evenRoll}, {'odd-roll': classNames.oddRoll} ]" data-roll="index">
                <li v-for="l_index in dices.dieSides" :key="l_index" class="die-item" :data-side="l_index">
                  <span v-for="sp_index in l_index" :key="sp_index" class="dot"></span>
                </li>
              </ol>
            </div>
          </section>
        </section>
        <section id="buttonsAndLog" class="container">
          <section id="controls">
            <button v-if="actionButton" :disabled="fightDetails.startRound" @click="startRoundRoll">WHO START</button>
            <button v-if="actionButton" :disabled="attackAction" @click="playerAction('attack')">ATTACK</button>
            <button v-if="actionButton" :disabled="fireBallAction" @click="playerAction('fire')">FIREBALL</button>
            <button v-if="actionButton" :disabled="lightningBoltAction" @click="playerAction('lightning')">LIGHTNING BOLT</button>
            <button v-if="actionButton" :disabled="healingAction" @click="playerAction('heal')">HEALING</button>
            <button v-if="!actionButton" @click="newGameStart">NEW GAME</button>
          </section>
          <section id="log">
            <h2>Battle Log</h2>
            <ul></ul>
          </section>
        </section>
        <section class="container">
          <button :disabled="surrender">SURRENDER</button>
        </section>
      </div>
    </div>
  </body>
</html>
